<p id="notice"><%= notice %></p>

<h1>Borrow Histories</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Book ID</th>
      <th>Book Title</th>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Date</th>
      <th>Is special</th>
      <th>Status</th>
</thead>
</table>

<br>

<%= link_to 'Back', home_index_path %> |
<%#= link_to 'New Borrow History', new_borrow_history_path %>