<p id="notice"><%= notice %></p>

<h1>Books Requested</h1>

<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Book Name</th>
    <th>Special</th>
    <th>Approved</th>
    <th>Library</th>
    <th>Fines</th>
   
      <th>Student Name</th>
      <th>Student Email</th>
    </tr>
  </thead>
</table>


